@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import './styles/Utility';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::after,
  &::before {
    margin: 0;
    padding: 0;
  }
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: $Dark-Grayish-Violet;
  &:active,
  &:visited {
    color: unset;
  }
}

img {
  display: block;
}
body {
  font-family: $font-body;
  background-color: white;
}
